/* You can add global styles to this file, and also import other style files */
@use './styles/variables' as *;
@use './styles/mixins' as *;
@use './styles/functions' as *;

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Reset universal */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body { 
    height: 100%;
    background-color: gray;
    margin: 0;
    padding: 0;
}

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Header ancho completo pero contenido controlado */
header {
    width: 100%;
}

/* Main centrado con padding */
main {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2.8rem;
    width: 100%;
}
