@use 'variables' as *;

.spacer {
  flex: 1 1 auto;
}

.logo, .navbar-title{
    letter-spacing: 1px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $var-color-solid-white;
}

.mat-toolbar {
color: $var-color-solid-black;
}

:host ::ng-deep .mat-mdc-button .mdc-button__label,
:host ::ng-deep .mat-mdc-button,
:host ::ng-deep button,
:host ::ng-deep a {
color: $var-color-solid-black;
opacity: 1 !important;
font-weight: 500;
font-size: 1.1rem;
}
