.spacer {
  flex: 1 1 auto;
}

.logo, .navbar-title{
    letter-spacing: 1px;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
}

.mat-toolbar {
color: #000 ;
}
:host ::ng-deep .mat-mdc-button .mdc-button__label,
:host ::ng-deep .mat-mdc-button,
:host ::ng-deep button,
:host ::ng-deep a {
color: #000 ;
opacity: 1 !important;
font-weight: 500;
font-size: 1.1rem;
}
