<mat-toolbar color="warn">
  <span class="logo">Juan Carlos Gómez López</span>

  <span class="spacer"></span>

  <button class="navbar-title" mat-button routerLink="/">Home</button>
  <button class="navbar-title" mat-button routerLink="/about">About</button>
  <button class="navbar-title" mat-button routerLink="/skills">Skills</button>
  <button class="navbar-title" mat-button routerLink="/experience">Experience</button>
  <button class="navbar-title" mat-button routerLink="/projects">Projects</button>
  <button class="navbar-title" mat-button routerLink="/contact">Contact</button>
</mat-toolbar>

